MNIST_data/
venv/
Volume of shapes/
input_data/
__pycache__/
test_data
test_input_data
train_data
variables_after_restoring.txt
variables_after_training.txt
checkpoints/
output_data/
practice.py
.idea/
Z_for_trainingShapes.txt
simp_auto_venv/
